@import '../../style/themes/index';

.@{gantt-prefix}-special-days_wrapper {
  position: absolute;
  top: 0;
  background: #096dd9;
  width: 1px;
  height: 1px;
  text-align: center;
  line-height: 1px;
  border-radius: 50%;
  color: #ffffff;
  // pointer-events: none;
  z-index: -1;
}

.@{gantt-prefix}-special-days_line {
  // width: 1px;
  // background: #dddafe;
  // margin-left: 15px;
}


.@{gantt-prefix}-special-days_tooltip_content { 
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #303030;
  text-align: left;
}

.@{gantt-prefix}-special-days-tooltip_title {
  font-size: 14px;
  font-weight: bold !important;
  white-space: nowrap;
}

.@{gantt-prefix}-special-days-tooltip_description {
  font-size: 12px;
  font-weight: 500;
}

.@{gantt-prefix}-special-days-tooltip_date {  
  font-size: 13px;
  font-weight: 500;
}